@import "scss/variables";

/* @import "scss/themes/light"; */
@import "scss/themes/dark";

@import "scss/buttons";
@import "scss/forms";
@import "scss/typography";
@import "scss/pages";
@import "scss/toolbars";
@import "scss/utilities";


:root {
  --basic-space: 30px;
}

ion-app {
  --ion-toolbar-background: var(--ion-color-primary-contrast);
  text-align: center;
  background-color: var(--ion-color-primary-contrast);
}
