@import "scss/variables";

/* @import "scss/themes/light"; */
@import "scss/themes/dark";

body {
  text-align: center;
  padding-left: 20px;
}

/*.bg-image {
  background-image: url(/public/assets/logo_white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30vh;
}*/

ion-toolbar {
  height: 15vh;
}
.md body {
  background: #000000;
  --ion-background-color: #ffffff00;
  --ion-toolbar-background: #ffffff00;
  z-index: -1;
}
