ion-alert {
  --background: var(--ion-color-secondary) !important;


  &[class*="sc-ion-alert"] {
    user-select: auto;
  }

  &.alert-large {
    --width: 350px;
  }
}

.static-alert {
  padding: var(--spacer);
  border-radius: var(--border-radius);

  p {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.alert-info {
    background-color: var(--ion-color-light);
  }
}


@include mediaQueryUp(sm) {
  ion-alert {
    --max-width: 80% !important;

    .alert-message {
      text-align: left !important;
    }
  }
}

@include mediaQueryUp(xl) {
  ion-alert {
    --max-width: var(--ion-bp-md) !important;
  }
}


