ion-button {

  &:not(.button-has-icon-only):not(.button-clear):not(.button-outline) {
    --background: var(--custom-light-gradient);
    --border-radius: 20px;
  }

  &.btn-icon-only {
    --padding-start: 0;
    --padding-end: 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-content: center;

    ion-icon {
      font-size: 20px !important;
    }
  }

  &.btn-toolbar {

  }
}


