.chat-component {
  --border-color: var(--ion-color-secondary-border);
  --msg-padding-left: #{$spacer * 2.5};
  position: relative;
  text-align: left;

  .chat-container {
    display: flex;
    flex-direction: column;
    position: relative;

    &:before {
      content: "";
      height: 100%;
      border-left: dashed 1px var(--border-color);
      position: absolute;
      left: calc((var(--msg-padding-left) / 2) - .5px);
      top: 0;
    }
  }

  .chat-message {
    --dot-size: 23px;
    --dot-inner-size: 10px;
    --dot-primary-color: var(--ion-color-secondary);
    --dot-bg-color: var(--border-color);
    --title-color: white;
    padding-top: 3px;

    position: relative;
    padding-left: var(--msg-padding-left);
    padding-bottom: $spacer;

    &:before {
      content: "";
      height: var(--dot-size);
      width: var(--dot-size);
      background-color: var(--dot-bg-color);
      border-radius: 50%;
      border: solid 3px var(--dot-primary-color);
      position: absolute;
      left: calc((var(--msg-padding-left) / 2) - (var(--dot-size) / 2));
      top: 4px;
      box-sizing: border-box;
      box-shadow: 0 0 10px rgba(var(--ion-color-primary-rgb), .4);
    }

    &:after {
      content: "";
      height: var(--dot-inner-size);
      width: var(--dot-inner-size);
      background-color: var(--dot-primary-color);
      border-radius: 50%;
      position: absolute;
      left: calc((var(--msg-padding-left) / 2) - (var(--dot-inner-size) / 2));
      top: calc(4px + (var(--dot-size) / 2) - (var(--dot-inner-size) / 2));
      box-sizing: border-box;
    }

    &.incoming {
      --dot-primary-color: var(--ion-color-primary);
      --dot-bg-color: white;
      --title-color: var(--ion-color-primary)
    }

    &.status-change{
      --title-color: #4ead5b;

      .chat-message-title{
        font-style: italic;
      }
    }

    .status-index {
      position: absolute;
      left: 0;
      top: 4px;
      color: var(--ion-color-primary);
      font-weight: bold;
      transform: translateX(-100%);
      line-height: var(--dot-size);
    }

    ul {
      margin: 0;
    }

    .chat-message-title {
      color: var(--title-color);
      //font-size: 1.2rem;
    }

    .attachments-container {
      a {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
      }
    }
  }
}
