.form-input {
  //justify-content: start;
  //background-color: black;
  --border-radius: 15px;

  &.item-has-focus {
    &::part(native) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}


ion-select {
  min-height: 43px;
}

//.label-floating.sc-ion-label-md-h,
//  .item-textarea .label-floating.sc-ion-label-md-h
.item-textarea {

  &:not(.item-has-focus):not(.item-has-value) {
    .label-floating {

      transform: translateY(96%);
    }
  }
}
