ion-list {
  border-radius: var(--border-radius);
}

ion-thumbnail.center-inner-icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

ion-item-divider {
  --padding-end: 16px;
  border: none;

  hr {
    background-color: #7B786F;
    width: 100%;
  }
}

.main-menu-list-item {
  ion-icon {
    fill: none
  }
}

.list-transparent {
  --ion-item-background: transparent;

  ion-item {
    &::part(native) {
      --padding-start: 0;
      --inner-padding-end: 0 !important;
    }
  }
}


.list-item-transparent {
  --ion-item-background: transparent;

  &::part(native) {
    --padding-start: 0;
    --inner-padding-end: 0 !important;
  }
}

ion-item {
  ion-label {


    .ion-item-title {
      font-weight: bold;
    }

    .ion-item-subtitle {
      font-weight: normal;
    }
  }
}
