.ion-page #main-content {
  ion-content {
    --background: linear-gradient(180deg, #000000 0%, rgba(39, 39, 39, 0.7) 100%) !important;
  }

  ion-content::part(background) {
    z-index: -1;
    background-color: transparent;


    &:before {
      content: "";
      position: fixed;
      width: 90vw;

      height: 40vh;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background-image: url("/assets/patternlandscape.png");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.logo-container {
  /* Global Club Logo Gold */

  width: 75%;
  max-width: 500px;
  height: 80px;
  margin: 5vh auto var(--spacer);

  background: url(/assets/logo_gold.svg) no-repeat center;
  background-size: contain;
}

.content-with-fixed-btn {
  --padding-bottom: 80px !important;
}

/* Forget Password Page */

.v-container {
  margin-top: 50px;
  background: url(/assets/Iconly.png);
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.clickable-area{
  padding: 6px;
}

@include mediaQueryDown(md) {
  .logo-container {
    height: 50px;
  }
}

ion-grid {
  //max-width: 600px;
}


@include mediaQueryUp(md){
  .app-tabs{
    flex-direction: row-reverse !important;

  }
}
