.ion-page {
  ion-content::part(background):before {
    content: "";
    position: fixed;
    width: 90vw;
    
    height: 40vh;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-image: 
      url("/assets/patternlandscape.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
