.simple-toolbar {
  display: flex;
  padding-top: calc(var(--basic-space) * .5);
  padding-bottom: calc(var(--basic-space) * .5);
  margin-bottom: calc(var(--basic-space) * .5);
  margin-top: calc(var(--basic-space) * 1.5);

  & > * {
    flex: 1;
    display: flex;
  }

  .toolbar-center {
    justify-content: center;
  }

  .toolbar-right {
    justify-content: end;
  }
}


.top-toolbar{
 /* padding-top: calc(var(--basic-space) * 1.5);
  padding-bottom: calc(var(--basic-space) * .5);*/
}
