@import "./utilities/sizes";
@import "./utilities/spacers";

.d-flex {
  display: flex !important;
}

.overflow-hidden {
  overflow: hidden !important;
}


.font-bold {
  font-weight: bold !important;
}

.radius-50 {
  border: 50px;
}

.display-ib {
  display: inline-block;
}

.list-simple {
  list-style: none;
  padding-left: 0;
}

.bg-secondary {
  background: var(--ion-color-secondary);
}
