@import "./utilities/sizes";
@import "./utilities/spacers";

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.overflow-hidden {
  overflow: hidden !important;
}


.font-bold {
  font-weight: bold !important;
}

.radius-50 {
  border: 50px;
}

.display-ib {
  display: inline-block;
}

.list-simple {
  list-style: none;
  padding-left: 0;
}

.bg-secondary {
  background: var(--ion-color-secondary);
}

.bg-transparent {
  background-color: transparent !important;
}

ion-row.masonry-row {
  --masonry-cols: 2;

  display: block;
  column-count: var(--masonry-cols);
  column-gap: 10px;

  ion-col {
    //margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    //margin-bottom: 10px;
    break-inside: avoid;
    width: 100% !important;
    max-width: unset !important;
  }

  &.cols-3 {
    --masonry-cols: 3;
  }
}

@include mediaQueryDown(md) {
  ion-row.masonry-row {
    --masonry-cols: 1;
  }
}
